* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  background-image: url(img/AllCoastWave2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 10%;
  height: auto;
}

nav {
  background-color: rgba(92, 176, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.navlinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navlinks li {
  list-style: none;
}

.navlinks a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

main {
  height: 777px;
  text-align: center;
}

main h1 {
  margin-left: auto;
  margin-right: auto;
  color: rgb(13, 83, 162);
  font-size: 70px;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
}

.review {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 50px;
  padding-left: 700px;
  padding-right: 700px;
}

main {
  background-color: rgba(255, 255, 255, 0.75);
}

main a {
  text-decoration: none;
  background-color: rgb(21, 82, 151);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  padding: 5px;
}

main h2 {
  padding-top: 100px;
}

main h3 {
  padding-top: 100px;
}

.free {
  color: red;
  font-size: 70px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: rgba(92, 176, 255, 0.5);
  height: 101px;
  text-align: center;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
}

.footlinks {
  display: flex;
  justify-content: space-around;
  width: 40%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.footlinks li {
  list-style: none;
}

.footlinks a {
  color: white;
}

@media screen and (max-width: 1024px) {
  .navlinks {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .navlinks {
    right: 0px;
    width: 100%;
    padding-right: 20px;
  }
  img {
    width: 20%;
    height: auto;
  }
  .review {
    padding-left: 50px;
    padding-right: 50px;
  }
  main {
    padding-top: 0.5px;
  }
}

.zoom {
  display: inline-block;
  transition: transform 0.2s;
  margin: 0 auto;
  width: 10px;
}

.zoom:hover {
  transform: scale(1.5);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
